[Unit]
Description=A software defined Wattbox cousin for Unifi devices.
After=network.target

[Service]
ExecStart=/root/nottbox/nottbox.sh
Restart=always
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target